:root {
    var(--darkBlue) = rgb(4, 0, 255);
    var(--lightBlue) = 
}

body {

}

.navbar {
    /* background-image: linear-gradient(to right, rgb(4, 0, 255) , rgb(0, 195, 255)); */
}

.jumbotron {
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.row {
    /* width: 100%; */
    display: block;
    align-items: center;
    justify-content: center;
}

.container {
    align-items: center;
}

.contact-info {
    text-align: center;
}